.navbar {
    background-color: blueviolet;
    
}
.container {
    margin-top: 2rem;
    background-color: aquamarine;
    padding: 2rem;
    margin-top: 20px;
    max-width: 120rem;
    margin: 0 auto;
   
}
.text-center {
    width: 25rem;
    height: 25rem;
}
.Columnasx2{
    justify-content:space-around;
}